<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Aeasc 2.0</title>
</head>

<section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro Sócio</h1>
		</div>
	</div>

	<div class="container-fluid">


		<form class="formulario" method="POST" th:object="${socio}">

			<div class="alert  alert-success  alert-dismissible" role="alert"
				th:if="${not #strings.isEmpty(mensagem)}">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
				<span th:text="${mensagem}"></span>
			</div>

			<div class="alert alert-danger alert-dismissible" role="alert"
				th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
				<th:block
					th:each="detailedError : ${#fields.detailedErrors('${socio.*}')}">
					<div>
						<i class="fa  fa-exclamation-circle"></i>
						[[${detailedError.message}]].
					</div>
				</th:block>
			</div>

			<div class="row">

				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('tipoPessoa')} ? has-error">
					<label for="tipoPessoa" class="control-label">Pessoa</label>
					<div>
						<label class="radio-inline"><input
							class="js-campo-profissional" type="radio" name="tipoPessoa"
							th:value="Fisica" th:field="*{tipoPessoa}">Física</label> <label
							class="radio-inline"><input class="js-campo-profissional"
							type="radio" name="tipoPessoa" th:value="Juridica"
							th:field="*{tipoPessoa}">Jurídica</label>
					</div>
				</div>

				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome">Nome</label> <input type="text"
						class="form-control" id="nome" placeholder="Nome"
						th:field="*{nome}">
				</div>

				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email">E-Mail</label> <input type="email"
						class="form-control" id="email" placeholder="E-Mail"
						th:field="*{email}">
				</div>
			</div>


			<div class="row">
				
				<div class="form-group col-sm-4">
					
					<label for="categoria" class="control-label">Categoria</label> 
					
					<div class="bw-field-action">
						<select id="comboCategoria" class="form-control" th:field="*{categoriaSocio}">
							<option value="">Selecione uma categoria</option>
							<option th:each="categoria : ${categorias}"
								th:value="${categoria.id}" th:text="${categoria.nome}"></option>
						</select>
	
						<div class="bw-field-action__icon">
							<a href="#" data-toggle="modal"
								data-target="#modalCadastroRapidoCategoria"> <i
								class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label for="docClasse">CREA/CAU</label> <input type="text"
						class="form-control js-campo-estudante" id="docClasse"
						th:field="*{docClasse}">
				</div>

				<div class="form-group date col-sm-4">
					<label for="dataNascimento">Data Nascimento/Abertura</label> <input
						data-date-format="DD-MM-YYYY"
						class="form-control js-campo-estudante" id="dataNascimento"
						th:field="*{dataNascimento}">
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-4">
					<label for="documento">CPF/CNPJ</label> <input type="text"
						class="form-control  js-campo-profissional  js-cpf" id="cpf"
						th:field="*{documento}">
				</div>

				<div class="form-group col-sm-4">
					<label for="tel-residencial">Tel Residencial</label> <input
						type="text"
						class="form-control  js-campo-profissional  js-telefone"
						id="tel-residencial" th:field="*{telefone}">
				</div>

				<div class="form-group col-sm-4">
					<label for="celular">Celular</label> <input type="text"
						class="form-control  js-telefone" id="celular"
						th:field="*{celular}">
				</div>
			</div>

			<div class="form-group">
				<h4>Endereço</h4>
			</div>

			<div class="row">
				<div class="form-group col-sm-3">
					<label for="cep-residencial">Cep</label> <input type="text"
						class="form-control  js-campo-profissional  js-cep"
						id="cep-residencial" th:field="*{endereco.cep}">
				</div>

				<div class="form-group col-sm-6">
					<label for="rua-residencial">Rua</label> <input type="text"
						class="form-control  js-campo-profissional  js-logradouro"
						id="rua-residencial" th:field="*{endereco.rua}">
				</div>

				<div class="form-group col-sm-3">
					<label for="numero-residencial">Número</label> <input type="text"
						class="form-control  js-campo-profissional"
						id="numero-residencial" th:field="*{endereco.numero}">
				</div>
			</div>

			<div class="row">

				<div class="form-group col-sm-3">
					<label for="complemento-residencial">Complemento</label> <input
						type="text" class="form-control  js-campo-profissional"
						id="complemento-residencial" th:field="*{endereco.complemento}">
				</div>

				<div class="form-group col-sm-3">
					<label for="bairro-residencial">Bairro</label> <input type="text"
						class="form-control  js-campo-profissional  js-bairro"
						id="bairro-residencial" th:field="*{endereco.bairro}">
				</div>

				<div class="form-group col-sm-3">
					<label for="cidade-residencial">Cidade</label> <input type="text"
						class="form-control  js-campo-profissional  js-cidade"
						id="cidade-residencial" th:field="*{endereco.cidade}">
				</div>

				<div class="form-group col-sm-3">
					<label for="uf-residencial" class="control-label">UF</label> <select
						id="uf-residencial"
						class="form-control  js-campo-profissional  js-uf"
						th:field="*{endereco.uf}">
						<option value="">UF</option>
						<option th:value="AC">AC</option>
						<option th:value="AL">AL</option>
						<option th:value="AM">AM</option>
						<option th:value="AP">AP</option>
						<option th:value="BA">BA</option>
						<option th:value="CE">CE</option>
						<option th:value="DF">DF</option>
						<option th:value="ES">ES</option>
						<option th:value="GO">GO</option>
						<option th:value="MA">MA</option>
						<option th:value="MG">MG</option>
						<option th:value="MS">MS</option>
						<option th:value="MT">MT</option>
						<option th:value="PA">PA</option>
						<option th:value="PB">PB</option>
						<option th:value="PE">PE</option>
						<option th:value="PI">PI</option>
						<option th:value="PR">PR</option>
						<option th:value="RJ">RJ</option>
						<option th:value="RN">RN</option>
						<option th:value="RS">RS</option>
						<option th:value="RO">RO</option>
						<option th:value="RR">RR</option>
						<option th:value="SC">SC</option>
						<option th:value="SE">SE</option>
						<option th:value="SP">SP</option>
						<option th:value="TO">TO</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4 col-lg-4"></div>
				<div>
					<button type="submit"
						class="btn btn-primary col-sm-4 col-xs-12 col-lg-4 bota">Enviar</button>
				</div>
				<div class="col-sm-4 col-lg-4"></div>
			</div>

		</form>

	</div>
	
	<div class="modal fade" id="modalCadastroRapidoCategoria" tabindex="-1" role="dialog">
		
		<div class="modal-dialog  modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Cadastro de categoria</h4>
				</div>
				
				<div class="modal-body">
					
					<div class="alert  alert-danger  hidden  js-mensagem-cadastro-rapido-categoria" role="alert"></div>
					
					<form class="form-horizontal  js-modal-formulario-categoria" th:action="@{/categorias}">
						<div class="form-group">
							<label class="col-sm-2  control-label" for="nomeCategoria">Nome</label>
							<div class="col-sm-10">
								<input id="nomeCategoria" type="text" class="form-control">
							</div>
						</div>
					</form>
					
					<button type="button" class="btn btn-primary  js-modal-cadastro-categoria-salvar-btn" >Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</section>
</html>